@import url('../../styles/variables.css');

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-grey);
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-lg);
  border-radius: var(--border-radius-md);
  background-color: var(--background-light);
  box-shadow: var(--shadow-md);
}

.about-container h2 {
  margin-bottom: var(--space-lg);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  color: var(--text-dark);
}

.about-container p {
  font-size: var(--font-size-md);
  color: var(--text-medium);
}