@import url('../../styles/variables.css');

.main-content {
  margin-left: 250px;
  padding: var(--space-lg);
  background-color: var(--background-grey);
  min-height: 100vh;
  transition: 0.5s;

  .box {
    background-color: var(--background-light);
    padding: var(--space-lg);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-md);

    &:hover {
      box-shadow: var(--shadow-lg);
    }
  }
}