/* Sidebar Styles */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    text-decoration: none;
    color: #818181;
    font-size: 18px;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar .icon {
    font-size: 20px;
    min-width: 30px;
}

.sidebar span {
    margin-left: 10px;
}

/* Admin Layout Styles */
.admin-dashboard {
    display: flex;
    min-height: 100vh;
    margin-left: 250px;
    padding: 1px 16px;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        width: 70px;
    }

    .sidebar span {
        display: none;
    }

    .content {
        margin-left: 70px;
    }
}